/*common classes*/
.ralewayfont {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  /*font-weight: <weight>;*/
  font-style: normal;
}
.interfont {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
img{
    border-radius: 48px;
}
.bg{
    background-color: #F5F8FF;
}
.bg-footer{
    background-color: #FFFFFF;
}

/* Header part*/
.header{
    background-image: url(../Images/Hero-bg.png);
    background-size: cover;
    height: 698px;
    padding-bottom: 152px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
nav h3{
    width: 99px;
    height: 51px;
    font-size: 34px;
    color: #4E47FF;
    margin: 50px 150px;
}
.btn-primary{
    background-color: #4E47FF;
    color: #FFFFFF;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 36px;
    border: none;
    /*margin: 51.5px 150px;
    margin-top: 51.5px;
    margin-bottom: 51.5px;*/
}
.btn1{
    margin: 51.5px 150px;
}
.banner{
    margin: 0 auto;
    max-width: 905px;
    max-height: 237px;
    text-align: center;
    margin-top: 151px;
}
.banner-title{
    font-weight: bold;
    font-size: 65px;
    color: #252432;
    text-align: center;
    margin-bottom: 37px;
}
.btn2{
    margin-top: 0px;
    
}

/* main section*/
.info{
    max-width: px;
    margin-left: 141px;
    margin-right: 159px;
    /*margin: 116px 159px 116px 141px;*/
}
.action{
    display: flex;
    gap: 220px;
    justify-content: space-between;
    margin-top: 116px;
    margin-bottom: 116px;
    max-width: 1140;
    
}
.action-content{
    margin: 62.5px 0px;
    width: 517px;
}
.action-content-title{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
    margin-bottom: 23px;
}
.action-content-subtitle{
    font-size: 24px;
    color: #252432;
}


.user{
    background-color: rgba(78, 71, 255, 0.1);
    text-align: center;
    border-radius: 24px;
    margin-top: 116px;
    padding: 50px 142px;
}
.user-title{
    font-weight: bold;
    font-size: 38px;
    margin-bottom: 40px;
    /*padding-top: 50px;
    padding-bottom: 40px;*/
}
.user-content-container{
    display: flex;
    justify-content: space-around;
}
.user-content-title{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
}
.user-content-subtitle{
    font-size: 20px;
}

.touch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 130px;
    gap: 115px;
}
.touch-column{
    margin: 71px;
}
.touch-title{
    font-weight: bold;
    font-size: 97px;
}
form label{
    font-size: 18px;
    font-weight: 500px;
}
form input[type="text"], input[type="email"]{
    width: 450px;
    font-size : 20px;
    color: rgba(0, 0, 0, 0.5);
    padding: 20px 32px;
    margin-bottom: 19px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
}
form textarea{
    width: 473px;
    height: 135px;
    font-size: 20px;
    padding-left: 32px;
    padding-top: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 19px;
    margin-top: 10px;
    display: block;
    border-radius: 10px;
    border: none;
}
form input[type="button"]{
    width: 497px;
    height: 62px;
    border-radius: 10px;
    border: none;
}

/*footer section*/
footer{
    text-align: center;
    padding: 50px 0px;/*-----wrong input*/
}
.footer-column{
    width: 531px;
    /*height: 221px;*/
    margin: 0 auto;
    
}
.footer-title{
    color: #4E47FF;
    font-size: 100px;
    font-weight: 900px;
    margin-bottom: 8px;
}
.footer-subtitle{
    color: #8987A1;
    margin-bottom: 8px;
}
footer li{
    list-style: none;
    
}
footer li a{
    text-decoration: none;
    color: #8987A1;
}
ul{
    display: flex;
    justify-content: space-around;
}